asgiref==3.5.2
beautifulsoup4==4.11.1
contourpy==1.0.5
cycler==0.11.0
dj-database-url==1.0.0
Django==4.1.1
django-bootstrap4==22.2
django-country-and-language-flags==0.1.1
django-crispy-forms==1.14.0
django-heroku==0.3.1
fonttools==4.37.3
gunicorn==20.1.0
Jinja2==3.1.2
kaleido==0.2.1
kiwisolver==1.4.4
MarkupSafe==2.1.1
matplotlib==3.6.0
numpy==1.23.2
packaging==21.3
pandas==1.4.4
Pillow==9.2.0
plotly==5.10.0
psutil==5.9.3
psycopg2==2.9.4
psycopg2-binary==2.9.4
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.2.1
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
tenacity==8.1.0
whitenoise==6.2.0
