{% extends "budgets/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block page_header %}
    <h2>{% trans 'CreateAnAccountHeading' %}</h2>
{% endblock page_header %}

{% block content %}

    <form method="post" action="{% url 'users:register' %}" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class="btn btn-primary">{% trans 'RegisterButton' %}</button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{% url 'budgets:index' %}" />
    </form>

{% endblock content %}