<!doctype html>
{% load bootstrap4 %}
{% load static %}
{% load i18n %}

<html lang="pl">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Saving App</title>
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
            <a class="navbar-brand" href="{% url 'budgets:index'%}">Oszczędzanko</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarCollapse" aria-controls="navbarCollapse"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'budgets:index'%}">Budgets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'budgets:expenses'%}">Expenses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'budgets:periods'%}">Periods</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'budgets:categories'%}">Categories</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <span class="navbar-text">Welcome, {{ user.username }}.</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:logout' %}">Log out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:register' %}">{% trans 'RegisterButton' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:login' %}">{% trans 'LoginButton' %}</a>
                        </li>
                    {% endif %}
                </ul>
                <ul>
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    <div class="languages">

                            {% for language in languages %}
                                    {% if language.code == 'pl' %}
                                        <a href="/{{ language.code }}/"
                                        {% if language.code == LANGUAGE_CODE %}
                                            class="selected"
                                        {% endif %}
                                        ><img style="height:15px;width:20px;" src="{% static 'pl.png' %}" alt=""></a>
                                    {% elif language.code == 'en' %}
                                        <a href="/{{ language.code }}/"
                                        {% if language.code == LANGUAGE_CODE %}
                                            class="selected"
                                        {% endif %}
                                        ><img style="height:15px;width:20px;" src="{% static 'en.png' %}" alt=""></a>
                                    {% endif %}
                            {% endfor %}
                    </div>
                </ul>

            </div>
        </nav>
        <main role="main" class="container">
            <div class="pb-2 mb-2 border-bottom">
                {% block page_header %}{% endblock page_header %}
            </div>
            <div>
                {% block content %}{% endblock content %}
            </div>
        </main>
    </body>
</html>