{% extends "budgets/base.html" %}

{% block content %}
<p>List of Categories:</p>
    <p>------------------------------------------------------------------------</p>
    <p>Add category:</p>

    <form action="{% url 'budgets:categories' %}" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button name="submit">Add category</button>
    </form>

 <p>------------------------------------------------------------------------</p>

    {% if messages %}
    <ul class="alert alert-danger" style="list-style: none;">
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}


<table>
        <tr>
            <td>Name:</td>
            <td></td>
        </tr>
        {% for category in categories %}
        <tr>
            <td> {{ category.category_name }}</td>
            <td> <a href="{% url 'budgets:category_delete' category.category_id %}"> <button type="button">Delete</button></a></td>

        </tr>
        {% empty %}
            <p>No categories yet. Add the first one...</p>
        {% endfor %}
    </table>



{% endblock content %}