{% extends "budgets/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <p>Expenses:</p>
    <p>--------------------------------------------------------------------</p>
   <div class="grid-container">

    <div class="grid-child purple">
            <p>Add expense:</p>

            <form action="{% url 'budgets:expenses' %}" method='post'>
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <button name="submit">Add expense</button>
            </form>
        </div>
         <div class="grid-child green">
            <img src="data:image/png;base64, {{pie_chart|safe}}" alt="" id="pie_chart_categories">
        </div>
    </div>
    <p>--------------------------------------------------------------------</p>

    <img src="data:image/png;base64, {{bar_chart|safe}}" alt="" id="img1">


    <table>
        <tr>
            <td>Date</td>
            <td>Amount</td>
            <td>Category</td>
            <td>Description</td>
            <td></td>
        </tr>
        {% for expense in expenses %}
        <tr>
            <td> {{ expense.expenditure_date|date:"d, m, Y"}}</td>
            <td> {{ expense.expenditure_amount }}</td>
            <td> {{ expense.category_id_budgets_category }}</td>
            <td> {{ expense.description }}</td>
            <td> <a href="{% url 'budgets:expenditure' expense.expenditure_id %}"> <button type="button"> Edit</button></a></td>
            <td> <a href="{% url 'budgets:expense_delete' expense.expenditure_id %}"><button type="button">Delete</button></a></td>
        </tr>
        {% empty %}
            <p>No expenses yet. Add the first one...</p>
        {% endfor %}
    </table>

{% endblock content %}