{% extends "budgets/base.html" %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block page_header %}
    <div>
        <h2>{% trans 'ListofexpensesHeader' %}:</h2>
    </div>
{% endblock page_header %}

{% block content %}
<br>
    <div class="d-flex justify-content-center">
        <div class="d-flex justify-content-start">
            <div>
                <form action="{% url 'budgets:expenses' %}" method='post'>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <br>
                    <button name="submit" class="btn btn-outline-success">{% trans 'AddExpenseButton' %}</button>
                </form>
            </div>
            </div>
            <div class="d-flex justify-content-end">
                <div>
                    <img src="data:image/png;base64, {{pie_chart|safe}}" alt="" id="pie_chart_categories" style="width: 100%; height: auto;">
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="d-flex justify-content-center">
        <div>
            <img src="data:image/png;base64, {{bar_chart|safe}}" alt="" id="img1" style="width: 100%; height: auto;">
        </div>
    </div>
<hr>
<div class="p-3 mb-2 bg-light rounded">
    <div class="container">
        {% for expense in expenses %}
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="card w-100  mb-2">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">{{ expense.expenditure_date|date:"d.m.y"}}</h6>
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title"> {{ expense.category_id_budgets_category }}</h5>
                            <h4>{{ expense.expenditure_amount }}</h4>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="card-text">{{ expense.description }}</p>
                            <div class="d-flex flex-row">
                                <a href="{% url 'budgets:expenditure' expense.expenditure_id %}"> <button type="button" class="btn btn-outline-warning btn-sm">{% trans 'EditButton'%}</button></a>
                                <a><button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#ex{{expense.expenditure_id}}">{% trans 'DeleteButton' %}</button></a>


                                <div class="modal fade" id="ex{{expense.expenditure_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">{% trans 'DeleteexpenseHeading'%}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                          {% trans 'DeleteInfo'%}
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'CancelButton'%}</button>
                                          <a href="{% url 'budgets:expense_delete' expense.expenditure_id %}"><button type="button" class="btn btn-primary">{% trans 'DeleteButton' %}</button></a>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
            <p>{% trans 'NoexpensesInfo'%}</p>
        {% endfor %}
    </div>
</div>
<hr>
<br>
{% endblock content %}