{% extends "budgets/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <div>
        <h2>Create period goals:</h2>
    </div>
{% endblock page_header %}

{% block content %}
<div class="p-3 mb-2 bg-light rounded">
    <nav class="nav bg-light">
        <li class="breadcrumb-item"><a href="{% url 'budgets:periods'%}">Periods</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create goals</li>
    </nav>
</div>

<div class="p-3 mb-2 bg-light rounded">
    <form action="{% url 'budgets:goals' period.period_id %}" method='post'>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class="btn btn-outline-success">Add category goal</button>
        {% endbuttons %}
    </form>
</div>
    {% if messages %}
    <ul class="alert alert-danger" style="list-style: none;">
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}

   <div class="p-3 mb-2 rounded">
        <table class="table">
        <tr>
            <th>Category</th>
            <th>Goal</th>
            <th class="text-right">Actions</th>

        </tr>
        {% for goal in goals %}
        <tr>
            <td> {{ goal.category_id_budgets_category }}</td>
            <td> {{ goal.goal }}</td>
            <td class="text-right">
                <a href="{% url 'budgets:goal_settings' period.period_id goal.monthly_goal_id %}"> <button type="button " class="btn btn-outline-warning"> Edit</button></a>
                <a> <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#goal{{goal.monthly_goal_id}}"> Delete</button></a>

                <div class="modal fade" id="goal{{goal.monthly_goal_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete goal?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            Are you sure you want to delete this goal?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                              <a href="{% url 'budgets:goal_delete' period.period_id goal.monthly_goal_id %}"><button type="button" class="btn btn-primary">Delete goal</button></a>
                          </div>
                        </div>
                      </div>
                    </div>


            </td>
        </tr>
        {% empty %}
            <p>No categories added yet. Add the first one...</p>
        {% endfor %}
    </table>
   </div>

{% endblock content %}
