{% extends "budgets/base.html" %}
{% load i18n %}

    {% block page_header %}

        {% if is_period == False %}

                <div class="jumbotron">
                    <h1 class="display-4">{% trans 'StatisticsHeader' %}</h1>

                    <p class="lead">{% trans 'StatisticsInfo' %}</p>

                    <a class="btn btn-lg btn-primary" href="{% url 'budgets:periods' %}"
                       role="button">{% trans 'CreatePeriodButton' %} &raquo;</a>
                </div>

        {% else %}


        {% endif %}

    {% endblock page_header %}

    {% block content %}

        {% if is_period == True %}

            <div class="progress">
              <div class="progress-bar progress-bar-striped bg-{{page_color}}" role="progressbar" aria-valuenow={{progress}}
                aria-valuemin="0" aria-valuemax={{period_length}} style="width:{{progress}}%">
                  {{ days_passed }} / {{ period_length }} {% trans 'DaysCounter' %}
                <span class="sr-only"></span>
              </div>
            </div>
            <br>
            <div class="p-3 mb-2 alert-{{page_color}} text-dark rounded">
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-5">
                            dzisiejsza data
                        </div>
                        <div class="col-7 text-right">
                            {{ period.start_day|date:"d.m.Y" }} - {{ period.end_day|date:"d.m.Y" }}
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center ">
                    <h1>{{ period.name }}</h1>
                </div>

                <div class="row justify-content-center ">
                    {% autoescape off %}
                        {{ gauge_chart }}
                    {% endautoescape %}
                </div>

                <br>

                <div class="container">
                  <div class="row justify-content-center ">
                    <div class="col-5 border-0 text-dark rounded bg-white">
                        <h6 class="font-weight-bold">{% trans 'DailyavgexpensesHeader'%}:</h6>
                      <h3 class="font-weight-bold">{{ average_over_the_period }} {% trans 'Currency'%}</h3>
                    </div>
                      <div class="col-auto"></div>
                    <div class="col-5 border-0 text-dark rounded bg-white">
                        <h6 class="font-weight-bold">{% trans 'EstimatedSavingsHeader'%}:</h6>
                      <h3 class="font-weight-bold">{{ estimated_savings }} {% trans 'Currency'%}</h3>
                    </div>
                  </div>
                </div>
                <br>
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-4">
                      <p>{% trans 'InitialBudgetHeader'%}: {{ balance.amount }} {% trans 'Currency'%}</p>
                    </div>
                    <div class="col-4">
                      <p>{% trans 'RemainingFundsHeader'%}: {{ money_saved }} {% trans 'Currency'%} </p>
                    </div>
                     <div class="col-4">
                      <p>{% trans 'SumOfExpensesHeader'%}: {{ sum_of_expenses }} {% trans 'Currency'%}</p>
                    </div>
                  </div>
                </div>
                <br>

            </div>
            <img src="data:image/png;base64, {{chart|safe}}" alt="" id="chart_categories" style="width: 100%; height: auto;">


            {% if is_goal == False %}
                <p>{% trans 'SetGoalsInfo' %}</p>
                <a class="btn btn-lg btn-primary" href="{% url 'budgets:goals' period.period_id %}"
                       role="button">{% trans 'SetGoalsButton' %} &raquo;</a>
            {% else %}

                <div class="p-3 mb-2 bg-light text-dark rounded">
                    <h4>{% trans 'DetailsOfGoalsHeader'%}:</h4>
                    <p>{% trans 'DailyAvgGoalHeader' %}: {{ daily_average_goal }} {% trans 'Currency'%}</p>
                    <p>{% trans 'SumOfGoalsHeader' %}: {{ sum_of_goals }} {% trans 'Currency'%}</p>
                    <p>{% trans 'PlannedSavingsHeader' %}: {{ planned_savings }} {% trans 'Currency'%} </p>
                </div>
                <div class="p-3 mb-2 rounded">
                    <table class="table table-sm">
                        <tr>
                            <th>{% trans 'CategoryTableHeader'%}:</th>
                            <th>{% trans 'GoalTableHeader'%}:</th>
                            <th>{% trans 'CategorysumHeader'%}:</th>
                            <th>{% trans 'DailyGoalTableHeader' %}:</th>
                            <th>{% trans 'DailySpendingsTableHeader' %}:</th>
                        </tr>
                        {% for key, value in goals_dict.items %}
                        <tr>
                            <td> {{ value.name }} </td>
                            <td> {{ value.goal }} {% trans 'Currency'%} </td>
                            <td> {{ value.category_sum }} {% trans 'Currency'%}</td>
                            <td> {{ value.av_period }} {% trans 'Currency'%} </td>
                            <td> {{ value.av_daily }} {% trans 'Currency'%} </td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            {% endif %}
        {% endif %}
    {% endblock content %}