{% extends "budgets/base.html" %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div>
        <h2>Edit period:</h2>
    </div>
{% endblock page_header %}

{% block content %}
<div class="p-3 mb-2 bg-light rounded">
    <nav class="nav bg-light">
        <li class="breadcrumb-item"><a href="{% url 'budgets:periods'%}">Periods</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit period</li>
    </nav>
</div>

<div class="p-3 mb-2 bg-light rounded">
    <form action="{% url 'budgets:period_settings' period.period_id%}" method="post">
          {% csrf_token %}
          {{ pform|crispy }}
          {{ bform|crispy }}
          <button name="submit" class="btn btn-success">Save period</button>
    </form>
</div>



{% endblock content %}